@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #D99F7E, #BF705E);
}

main{
    background-color: white;
    border-radius: 10px;    
    box-shadow: 5px 5px 15px #5c383899 ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #F2BF5E;
    text-align: center;
    text-shadow: 1px 1px 2px #755c2eaf;
}

h2{
    color: #B5CAC1;
    text-shadow: 1px 1px 2px black;
}
p{
    text-align: justify;
}